* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
header {
  background: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > div {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: cursive;
}
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-size: 16px;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 2px;
  line-height: 28px;
}
.menu {
  width: 90%;
  margin: auto;
}
.car {
  border: 2px solid black;
  text-align: center;
  padding: 10px 5px;
  border-radius: 30px;
}
button {
  background: #000;
  padding: 6px 16px;
  color: white;
  border-radius: 20px;
  margin: 20px 0px;
}
.btn-wrapper {
  display: flex;
  gap: 10px;
}
.cars {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  margin: 10px 0px 0px 0px;
}
footer {
  margin: 20px 0px 0px 0px;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 20px 0px;
}
footer > p {
  display: flex;
  justify-content: center;
  gap: 5px;
}

@media screen and (max-width: 600px) {
  .home {
    display: flex;
    flex-direction: column;
  }
  .home > img {
    height: 200px;
  }
  .cars {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 10px 0px;
  }
  .heading {
    /* background: #be3f3f; */
    font-size: 10px;
  }
  header > div > img {
    /* visibility: hidden; */
    background: #af4848;
    height: 10px;
    display: flex;
  }
}
